body {
    text-align: center;
    margin:0;
    background-color:#1f3251;
}

#header {
    width:100%;
    height:9vh;
    position:fixed;
    background-color:#293344;
    color:white;
    font-size:8vh;
    border-bottom:1vh solid white;
    z-index:100;
}

#content {
    margin-top:10vh;
    width:100%;
    position:absolute;
}

#cat_list {
    width:24%;
    height:90vh;
    color:white;
    float:left;
    border-right:2px solid #6984af;
    overflow-y:scroll;
}

#cat_view {
    width:75%;
    height:90vh;
    color:white;
    float:left;

}

.cat_list_item {
    width:100%;
    border-bottom:2px solid #6984af;
    padding:5px 0 5px 0;
    font-size:20px;
    cursor:pointer;
}

.cat_list_item:hover {
    background-color:#7492c1;
}

.image {
    width:100%;
    padding:30px 0 30px 0;
    cursor:pointer;
}

#cat_name {
    width:100%;
    font-size:30px;
    padding-top:10px;
}

#cat_count {
    width:100%;
    font-size:30px;
    padding-top:10px;
}